body {
  background-color:lightblue;
  text-align:center;
  font-family:arial;
} 
.quote-box {
  padding:20px;
  background-color:white;
  margin:100px 200px;
  border-radius:10px;
}
.btn {
  margin:10px;
  background-color:lightblue;
  text-decoration:none;
  font-size:20px;
  color:white;
  border-radius: 5px;
}
.quote {
  margin:10px;
  font-family:Times New Roman;
  font-size:50px;
  color:lightblue;
}
.author {
  margin:10px;
  font-style:italic;
  color:lightblue;
  font-size:20px;
}
.tweet{
  margin-left:200px;
}